@mixin layout($_dis, $_gap) {
    display: $_dis;
    gap: $_gap;
}

@mixin btn {
    background: transparent;
    outline: none;
    border: none;
    font-family: 'Outfit', 'Noto Sans KR', sans-serif;
}

@mixin position($inset, $p_x, $p_y) {
    position: absolute;
    inset: $inset;
    transform: translate($p_x, $p_y);
}