@import './reset';
@import './font';
@import './basic';
@import './mixin';
@import './variable';

body {
    height: 200vh;
}

.header {
    @include layout(flex, 0);
    position: fixed;
    inset: 0 0 auto 0;

    height: 80px;
    align-items: center;
    z-index: 99;
    transition: 0.5s;

    &.on {
        background: $gc;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 80px;
        transform: translate(0, -50%);
    }

    .service {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translate(0, -50%);

        @include layout(flex, 10px);

        button {
            @include btn;

        }

        i {
            position: relative;
            font-size: 28px;
            transform: translate(0, 3px);

            span {
                position: absolute;
                top: -5px;
                right: -10px;
                background: $mc;
                border-radius: 50%;
                padding: 3px 0;

                font-size: 12px;
                width: 18px;
                text-align: center
            }
        }
    }

    .gnb {
        ul {
            @include layout(flex, 20px);

        }
    }
}

main {

    .MainSlide {
        height: 100vh;

        .itm {
            position: relative;
            height: 100vh;
            color: #fff;

            .slogan {
                @include position(50% auto auto 50%, -50%, -50%);

                span {
                    display: block;
                    margin-bottom: 18px;
                    font-weight: 300;
                }

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 30px;
                }

                a {
                    display: inline-block;
                    padding: 5px 15px;
                    border: 1px solid #fff;
                    font-weight: 100;
                    text-transform: uppercase;
                    transition: 0.5s;

                    &:hover {
                        border: 1px solid transparent;
                        background: #333;
                    }
                }
            }
        }

        .itm01 {
            background: url(../../public/img/main_m01.jpg)no-repeat center center/cover;
        }

        .itm02 {
            background: url(../../public/img/main_m02.jpg)no-repeat center center/cover;
        }

        .itm03 {
            background: url(../../public/img/main_m03.jpg)no-repeat center center/cover;
        }
    }

    .slick-dots {
        @include position(auto auto 50px 50%, -50%, 0);

        >li {
            display: inline-block;
            font-size: 0;

            button {
                @include btn;
                width: 100px;
                height: 5px;
                margin: 0 2px;
                background: $gc;
                transition: 0.5s;
            }

            &.slick-active button {
                background: $mc;
            }
        }
    }
}